:root {
  --background-image: url("images/galaxy.png");
  --bg_h: #f9f5d7;
  --bg: #fbf1c7;
  --bg_s: #f2e5bc;
  --bg1: #ebdbb2;
  --bg2: #d5c4a1;
  --bg3: #bdae93;
  --bg4: #a89984;

  --fg: #282828;
  --fg1: #3c3836;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;

  --red: #9d0006;
  --green: #79740e;
  --yellow: #b57614;
  --blue: #076678;
  --purple: #8f3f71;
  --aqua: #427b58;
  --orange: #af3a03;
  --gray: #928374;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d79921;
  --blue-dim: #458598;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --orange-dim: #d65d0e;
  --gray-dim: #7c6f64;
}

/* Gruvbox (dark) */
[data-theme="gruvbox-dark"] {
  --bg_h: #1d2021;
  --bg: #282828;
  --bg_s: #32302f;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  --fg: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #928374;
  --orange: #fe8019;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d79921;
  --blue-dim: #458588;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --gray-dim: #a89984;
  --orange-dim: #d65d0e;
}

/* Gruvbox (light) */
[data-theme="gruvbox-light"] {
  --background-image: url("images/paper.png");
  --bg_h: #f9f5d7;
  --bg: #fbf1c7;
  --bg_s: #f2e5bc;
  --bg1: #ebdbb2;
  --bg2: #d5c4a1;
  --bg3: #bdae93;
  --bg4: #a89984;

  --fg: #282828;
  --fg1: #3c3836;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;

  --red: #9d0006;
  --green: #79740e;
  --yellow: #b57614;
  --blue: #076678;
  --purple: #8f3f71;
  --aqua: #427b58;
  --orange: #af3a03;
  --gray: #928374;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d79921;
  --blue-dim: #458598;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --orange-dim: #d65d0e;
  --gray-dim: #7c6f64;
}

/* Normal Colors */
.red {
  color: var(--red);
}
.green {
  color: var(--green);
}
.yellow {
  color: var(--yellow);
}
.blue {
  color: var(--blue);
}
.purple {
  color: var(--purple);
}
.aqua {
  color: var(--aqua);
}
.gray {
  color: var(--gray);
}
.orange {
  color: var(--orange);
}
/* Dim Colors */

.red-dim {
  color: var(--red-dim);
}
.green-dim {
  color: var(--green-dim);
}
.yellow-dim {
  color: var(--yellow-dim);
}
.blue-dim {
  color: var(--blue-dim);
}
.purple-dim {
  color: var(--purple-dim);
}
.aqua-dim {
  color: var(--aqua-dim);
}
.gray-dim {
  color: var(--gray-dim);
}
.orange-dim {
  color: var(--orange-dim);
}
/* Foreground Colors */

.fg {
  color: var(--fg);
}
.fg1 {
  color: var(--fg1);
}
.fg2 {
  color: var(--fg2);
}
.fg3 {
  color: var(--fg3);
}
.fg4 {
  color: var(--fg4);
}
/* Background Colors */

.bg-hard {
  color: var(--bg_h);
}
.bg {
  color: var(--bg);
}
.bg-soft {
  color: var(--bg_s);
}
.bg1 {
  color: var(--bg1);
}
.bg2 {
  color: var(--bg2);
}
.bg3 {
  color: var(--bg3);
}
.bg4 {
  color: var(--bg4);
}

@font-face {
  font-family: "JetBrainsMono Nerd";
  src: url("https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts/patched-fonts/JetBrainsMono/Regular/complete/JetBrainsMono%20Nerd%20Font%20Complete%20Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--bg);
  background-image: var(--background-image);
  font-family: "JetBrainsMono Nerd", monospace;
  background-size: cover;

  /* the background image will be pixel art */
  image-rendering: pixelated;

  font-size: 100%;

  text-align: left;
}

aside {
  margin-left: 5%;
  margin-right: 5%;
  background-color: var(--bg);
  opacity: 0.9;
  text-align: center;
  font-family: "JetBrainsMono Nerd", monospace;
  border: 3px solid;
  border-color: var(--bg4);
  color: var(--fg1);
  padding: min(20px, 5%), min(20px, 5%), min(20px, 5%), min(20px, 5%);
  width: 12.5%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* space between buttons */

  border-radius: 8px;
}

aside h3 {
  grid-column: span 2;
}

footer {
  background: var(--bg);
  opacity: 0.9;
  color: var(--fg1);

  border: 3px solid;
  border-color: var(--bg4);

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;

  border-radius: 8px;
}

.gif-grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  gap: 15px;
  justify-content: center;
}
.gif-grid img {
  width: 60px;
  height: 30px;
  object-fit: stretch;
}

#site-header {
  background-color: var(--bg);
  border: 3px solid;
  border-color: var(--bg4);
  padding: 20px 20px 20px 20px;
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  opacity: 0.9;
  border-radius: 8px;

  position: relative;
}

.hk-sit {
  position: absolute;
  bottom: -10px; /* overlap border slightly */
  left: 30%;
  transform: translateX(-50%);

  height: 60px; /* adjust size */
  pointer-events: none; /* so it doesn’t block clicks */
}

.theme-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition:
    transform 0.15s ease,
    opacity 0.2s ease;
  user-select: none;
}

/* Press animation */
.theme-btn:active {
  transform: scale(0.85);
}

/* Optional hover effect */
.theme-btn:hover {
  opacity: 0.8;
}

.cnctn-btn {
  width: 64px;
  cursor: pointer;
  transition:
    transform 0.15s ease,
    opacity 0.2s ease;
  user-select: none;
  height: 64px;
}

.game-container {
  background-color: var(--bg);
  border: 3px solid;
  border-color: var(--bg4);
  color: var(--fg1);
  padding: 0px 20px 20px 20px;
  height: auto;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  font-family: "JetBrainsMono Nerd", monospace;
  opacity: 0.95;
  border-radius: 8px;
}

#main {
  background-color: var(--bg);
  border: 3px solid;
  border-color: var(--bg4);
  color: var(--fg1);
  padding: 0px 20px 20px 20px;
  /* width: 60%; */
  height: auto;
  margin-left: 20%;
  margin-right: 20%;

  overflow: auto;

  width: auto;
  height: 1500px;
  opacity: 95%;

  border-radius: 8px;
}

h1 {
  color: var(--red-dim);
  text-decoration: underline;
  font-size: 300%;
}
h2 {
  color: var(--yellow-dim);
  text-decoration: underline;
}

h3 {
  color: var(--green-dim);
  text-decoration: underline;
}
h4 {
  color: var(--aqua-dim);
  text-decoration: underline;
}
h5 {
  color: var(--blue-dim);
  text-decoration: underline;
}
h6 {
  color: var(--purple-dim);
  text-decoration: underline;
}
a:link {
  color: var(--blue-dim);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--purple);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--red);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: va(--yellow);
  background-color: transparent;
  text-decoration: underline;
}

.masonry {
  column-count: 4; /* adjust for desktop */
  column-gap: 16px;
}
@media (max-width: 1100px) {
  .masonry {
    column-count: 3;
  }
}
@media (max-width: 700px) {
  .masonry {
    column-count: 2;
  }
}
@media (max-width: 420px) {
  .masonry {
    column-count: 1;
  }
}

.card {
  border: 2px solid;
  border-color: var(--fg4);
  break-inside: avoid;
  margin-bottom: 16px;
  background: var(--bg);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(20, 20, 50, 0.06);
  transition:
    transform 0.18s ease,
    box-shadow 0.18s ease;
}
.card img {
  width: 100%;
  height: auto;
  display: block;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(20, 20, 50, 0.09);
}
.meta {
  padding: 10px 12px;
  font-size: 14px;
  color: var(--fg);
  background-color: var(--bg);
}
